    {
        "info": {
            "name": "#project", 
            "owner": "#user",
            "clients":"#clients"
        }, 
        "state": "submitted", 
        "tasks": [
            {
                "cmd": {
                    "args": "-input=@raw.100k.fastq -output=raw.100k.prep.fna", 
                    "description": "preprocess", 
                    "name": "awe_preprocess.pl"
                }, 
                "dependsOn": [], 
                "inputs": {
                   "raw.100k.fastq": {
                        "name": "raw.100k.fastq",
                        "host": "http://#shockurl",
                        "node": "#shocknode"
                    }
                }, 
                "outputs": {
                    "raw.100k.prep.fna": {
                        "name": "raw.100k.prep.fna",
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "partinfo": {
                     "input": "raw.100k.fastq",
                     "output": "raw.100k.prep.fna",
                     "index": "record"
                },
                "taskid": "0", 
                "totalwork": 5
            },
            {
                "cmd": {
                    "args": "-input=@raw.100k.prep.fna -output=raw.100k.derep.fna", 
                    "description": "dereplication", 
                    "name": "awe_dereplicate.pl"
                }, 
                "dependsOn": ["0"], 
                "inputs": {
                   "raw.100k.prep.fna": {
                        "name": "draw.100k.prep.fna",
                        "host": "http://#shockurl",
                        "node": "-",
                        "origin": "0"
                    }
                }, 
                "outputs": {
                    "raw.100k.derep.fna": {
                        "name": "raw.100k.derep.fna",
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "taskid": "1", 
                "totalwork": 1
            },
            {
                "cmd": {
                    "args": "hg18 @raw.100k.derep.fna raw.100k.screened.fna 4", 
                    "description": "bowtie screen", 
                    "name": "awe_bowtie_screen.sh"
                }, 
                "dependsOn": ["1"], 
                "inputs": {
                   "raw.100k.derep.fna": {
                        "name": "raw.100k.derep.fna",
                        "host": "http://#shockurl",
                        "node": "-",
                        "origin": "1"
                    }
                }, 
                "outputs": {
                    "raw.100k.screened.fna": {
                        "name": "raw.100k.screened.fna",
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "partinfo": {
                     "input": "raw.100k.derep.fna",
                     "output": "raw.100k.screened.fna",
                     "index": "record"
                },
                "taskid": "2", 
                "totalwork": 4
            },
            {
                "cmd": {
                    "args": "-genome=@raw.100k.screened.fna -out=raw.100k.genecalled -complete=0 -train=complete", 
                    "description": "gene calling", 
                    "name": "run_FragGeneScan.pl"
                }, 
                "dependsOn": ["2"], 
                "inputs": {
                   "raw.100k.screened.fna": {
                        "name": "raw.100k.screened.fna",
                        "host": "http://#shockurl",
                        "node": "-",
                        "origin": "2"
                    }
                }, 
                "outputs": {
                    "raw.100k.genecalled.faa": {
                        "name": "raw.100k.genecalled.faa",
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "partinfo": {
                     "input": "raw.100k.screened.fna",
                     "output": "raw.100k.genecalled.faa",
                     "index": "record"
                },
                "taskid": "3", 
                "totalwork": 4
            },
            {
                "cmd": {
                    "args": "@raw.100k.genecalled.faa --output raw.100k.clustgun.faa", 
                    "description": "clustering and amino acid assembly", 
                    "name": "clustgun"
                }, 
                "dependsOn": ["3"],  
                "inputs": {
                    "raw.100k.genecalled.faa": {
                        "name": "raw.100k.genecalled.faa",
                        "host": "http://#shockurl",
                        "node": "-",
                        "origin": "3"
                    }
                }, 
                "outputs": {
                    "raw.100k.clustgun.faa": {
                        "name": "raw.100k.clustgun.faa",
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "partinfo": {
                     "input": "raw.100k.genecalled.faa",
                     "output": "raw.100k.clustgun.faa",
                     "index": "record"
                },
                "taskid": "4",
                "totalwork": 1
            },
            {
                "cmd": {
                    "name": "awe_superblat.sh",
                    "args": "@raw.100k.clustgun.faa raw.100k.besthit.blat", 
                    "description": "clustering and amino acid assembly"
                }, 
                "dependsOn": ["4"],  
                "inputs": {
                    "raw.100k.clustgun.faa": {
                        "name": "rraw.100k.clustgun.faa",
                        "host": "http://#shockurl",
                        "origin": "4",
                        "node": "-"
                    }
                }, 
                "outputs": {
                    "raw.100k.besthit.blat": {
                        "name": "raw.100k.besthit.blat",
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "taskid": "5",
                "totalwork": 2

            }
        ]
    }
