    {
        "info": {
            "pipeline": "mgrast-v3",
            "name": "#jobname",
            "project": "#project",
            "user": "#user",
            "clientgroups":"#clientgroups"
        }, 
        "tasks": [
            {
                "cmd": {
                    "args": "-input=@#inputfile -output=#jobname.prep.fna", 
                    "description": "preprocess", 
                    "name": "awe_preprocess.pl"
                }, 
                "dependsOn": [], 
                "inputs": {
                   "#inputfile": {
                        "host": "http://#shockurl",
                        "node": "#shocknode"
                    }
                }, 
                "outputs": {
                    "#jobname.prep.fna": {
                        "host": "http://#shockurl"
                    }
                },
                "partinfo": {
                     "input": "#inputfile",
                     "output": "#jobname.prep.fna"
                },
                "taskid": "0", 
                "totalwork": 1
            },
            {
                "cmd": {
                    "args": "-input=@#jobname.prep.fna -output=#jobname.derep.fna", 
                    "description": "dereplication", 
                    "name": "awe_dereplicate.pl"
                }, 
                "dependsOn": ["0"], 
                "inputs": {
                   "#jobname.prep.fna": {
                        "host": "http://#shockurl",
                        "origin": "0"
                    }
                }, 
                "outputs": {
                    "#jobname.derep.fna": {
                        "host": "http://#shockurl"
                    }
                },
                "taskid": "1", 
                "totalwork": 1
            },
            {
                "cmd": {
                    "args": "-input=@#jobname.derep.fna -output=#jobname.screened.fna -index=h_sapiens_asm",
                    "description": "bowtie screen", 
                    "name": "awe_bowtie_screen.pl"
                }, 
                "dependsOn": ["1"], 
                "inputs": {
                   "#jobname.derep.fna": {
                        "host": "http://#shockurl",
                        "origin": "1"
                    }
                }, 
                "outputs": {
                    "#jobname.screened.fna": {
                        "host": "http://#shockurl"
                    }
                },
                "predata": {
                    "h_sapiens_asm.1.ebwt":{
                        "url":"http://140.221.84.150:8000/node/0d3e3406-36ea-4ae7-b943-279afb51c7d7?download"
                    },
                    "h_sapiens_asm.2.ebwt":{
                        "url":"http://140.221.84.150:8000/node/8595fbb8-f0f7-4e4d-b8a5-e1064493a4d3?download"
                    },
                    "h_sapiens_asm.3.ebwt":{
                        "url":"http://140.221.84.150:8000/node/21a545e6-d802-4153-a5b7-943df62e92f0?download"
                    },
                    "h_sapiens_asm.4.ebwt":{
                        "url":"http://140.221.84.150:8000/node/2070b750-2159-46d4-b42b-fa717ba4a635?download"
                    },
                    "h_sapiens_asm.rev.1.ebwt":{
                        "url":"http://140.221.84.150:8000/node/0a79b7b3-a362-4f85-8b91-44bb3f4a25c5?download"
                    },
                    "h_sapiens_asm.rev.2.ebwt":{
                        "url":"http://140.221.84.150:8000/node/920d71f9-7f15-4ceb-9a70-83151059026b?download"
                    }
                },
                "partinfo": {
                     "input": "#jobname.derep.fna",
                     "output": "#jobname.screened.fna"
                },
                "taskid": "2", 
                "totalwork": #totalwork
            },
            {
                "cmd": {
                    "args": "-input=@#jobname.screened.fna -output=#jobname.genecalled.faa", 
                    "description": "gene calling", 
                    "name": "awe_genecalling.pl"
                }, 
                "dependsOn": ["2"], 
                "inputs": {
                   "#jobname.screened.fna": {
                        "host": "http://#shockurl",
                        "origin": "2"
                    }
                }, 
                "outputs": {
                    "#jobname.genecalled.faa": {
                        "host": "http://#shockurl"
                    }
                },
                "partinfo": {
                     "input": "#jobname.screened.fna",
                     "output": "#jobname.genecalled.faa"
                },
                "taskid": "3", 
                "totalwork": #totalwork
            },
            {
                "cmd": {
                    "args": "-input=@#jobname.genecalled.faa --output=#jobname.clust.faa -aa -pid=90",
                    "description": "clustering",
                    "name": "awe_cluster_parallel.pl"
                },
                "dependsOn": ["3"],
                "inputs": {
                    "#jobname.genecalled.faa": {
                        "host": "http://#shockurl",
                        "origin": "3"
                    }
                },
                "outputs": {
                    "#jobname.clust.faa": {
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "partinfo": {
                     "input": "#jobname.genecalled.faa",
                     "output": "#jobname.clust.faa"
                },
                "taskid": "4",
                "totalwork": 1
            },
            {
                "cmd": {
                    "name": "awe_blat.py",
                    "args": "--input=@#jobname.clust.faa --output=#jobname.hits.blat", 
                    "description": "simularity search using blat"
                }, 
                "dependsOn": ["4"],  
                "inputs": {
                    "#jobname.clust.faa": {
                        "host": "http://#shockurl",
                        "origin": "4"
                    }
                }, 
                "outputs": {
                    "#jobname.hits.blat": {
                        "host": "http://#shockurl"
                    }
                },
                "predata": {
                    "md5nr.1":{
                        "url":"http://140.221.84.150:8000/node/88bbdfd4-d412-45b3-83c8-e97d027871a9?download"
                    },
                    "md5nr.2":{
                        "url":"http://140.221.84.150:8000/node/08956b07-0abc-4e4c-bb08-e2581744e30e?download"
                    }
                },
                "partinfo": {
                     "input": "#jobname.clust.faa",
                     "output": "#jobname.hits.blat"
                },
                "taskid": "5",
                "totalwork": #totalwork,
                "maxworksize": 50
            }
        ]
    }
